<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>101873232533-leb7coiuarqgs19ie7goo84qudbht8dq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.101873232533-leb7coiuarqgs19ie7goo84qudbht8dq</string>
	<key>API_KEY</key>
	<string>AIzaSyAVjG7hAfHEEcXbFUG156VjozrLt5w4gNY</string>
	<key>GCM_SENDER_ID</key>
	<string>101873232533</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.tastit</string>
	<key>PROJECT_ID</key>
	<string>tastitappandroid</string>
	<key>STORAGE_BUCKET</key>
	<string>tastitappandroid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:101873232533:ios:6fef8ab8ef9072c625099c</string>
</dict>
</plist>