<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CLIENT_ID</key>
  <string>945645661784-emprqdu9ft4h6teichnuqp6vilu0i31s.apps.googleusercontent.com</string>
  <key>REVERSED_CLIENT_ID</key>
  <string>com.googleusercontent.apps.945645661784-emprqdu9ft4h6teichnuqp6vilu0i31s</string>
  <key>API_KEY</key>
  <string>AIzaSyBwKIN-lUlqUdt0Y9QcaZtjcRfFW2GFCN0</string>
  <key>GCM_SENDER_ID</key>
  <string>945645661784</string>
  <key>PLIST_VERSION</key>
  <string>1</string>
  <key>BUNDLE_ID</key>
  <string>com.lekoolam.chidouh.app.development</string>
  <key>PROJECT_ID</key>
  <string>chidouh---development</string>
  <key>STORAGE_BUCKET</key>
  <string>chidouh---development.appspot.com</string>
  <key>IS_ADS_ENABLED</key>
  <false></false>
  <key>IS_ANALYTICS_ENABLED</key>
  <false></false>
  <key>IS_APPINVITE_ENABLED</key>
  <true></true>
  <key>IS_GCM_ENABLED</key>
  <true></true>
  <key>IS_SIGNIN_ENABLED</key>
  <true></true>
  <key>GOOGLE_APP_ID</key>
  <string>1:945645661784:ios:a3d7733a3426132516242d</string>
</dict>
</plist>
